.login {
      height: 96vh;
    display: flex;
    max-width: 1263px;
    align-items: center;
    justify-content: center;
       background-image: url('/assets/image/bake.jpeg');
   background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;

  padding: 32px;
    padding: 24px;
    margin: 10px;
    width: 100%;

  &__container {
    background-color: #fff5f6;
    padding: 20px;
    border-radius: 20px;
     margin-left: 50px;
  }



  /* RIGHT FORM SECTION */
  &__title,
  &__form,
  &__error,
  &__success,
  &__footer {
    grid-column: 2;
    
  }
 
  &__title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 32px;
    border-bottom: 3px solid #ff9aa2;
    display: inline-block;
    padding-bottom: 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
        align-items: center;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }

  &__input {
    border: none;
    border-bottom: 1px solid #999;
    padding: 8px 4px;
    font-size: 14px;

    &:focus {
      outline: none;
      border-bottom-color: #ff9aa2;
    }
  }

  &__button {
    margin-top: 20px;
    padding: 10px 32px;
    background-color: #ff9aa2;
    color: #000;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #ff7b88;
    }
  }

  &__error {
    background: #fdecea;
    color: #c62828;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
  }

  &__success {
    background: #e8f5e9;
    color: #2e7d32;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
  }

  &__footer {
    margin-top: 24px;
    font-size: 14px;
    color: #555;

    a {
      color: #ff7b88;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login {
    &__container {
      grid-template-columns: 1fr;
    }

    &__container::before {
      display: none;
    }

    &__title,
    &__form,
    &__error,
    &__success,
    &__footer {
      grid-column: 1;
    }
  }
}