// Footer SCSS
.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff5f5;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  color: #555;
}
