// MainLayout SCSS
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex: 1;
  }

  &__content {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
  }
}
